* {

	margin: 0;

}


.navbar {

	margin-top: 13px;
	
	
	float: right;
	/*width: 300px;*/
	position: relative;
}

.navbar p, .navbar img {

	float: right;
	margin-left: 5px;
	margin-right: 5px;
	display: inline;
	line-height: 24px;
	outline: none;
	opacity: .75;
	padding-right: 15px;

}

.navbar p {

	font-family: arial, sans-serif;
	font-size: 13px;
	text-decoration: none;
}

.navbar img {

	height: 30px;
	width: 30px;

}



#picture {

	height: 30px;
	width: 30px;
	padding: 0;
	
	
	border-radius: 50%;
}

/* this is the google logo */

.main {

	/*clear: both;*/
	
	
	top: 180px;
	position: relative;
	clear: both;

	
	

	
	
	
}

/* this is the img within the main class (the google logo) */

.main img {

	height: 180px;
	width: 380px;
	
	
	display: block;
	margin: 0 auto;



}



.searchbar {

	display: block;
	width: 580px;
	height: 41px;
	margin: 0 auto;
	margin-top: 20px;
	
	padding: 0;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    transition-property: box-shadow;
	border: none;
}



input[type=submit] {

	
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    height: 36px;
    line-height: 27px;
}

.buttons {

	margin: 15px auto;
}



.buttoncontainer {
	
	width: 500px;
	margin: 0 auto;
	text-align: center;
}

.disclaimer {

	width: 500px;

	margin-top: 195px;
	margin-left: auto;
	margin-right: auto;
	border 2px solid red;
	clear: both;
	text-align: center;
	font-size: small;
	font-family: arial, sans-serif;
}

.footer {

	background: #f2f2f2;
	
	height: 25px;
	position: bottom;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 10px;


}

.footer-l li {

	display: inline-block;
	font-color: #666;
	padding-left: 27px;
	margin: 0;
	
}

.footer-r li {

	display: inline-block;
	font-color: #666;
	padding-left: 27px;
	margin: 0;
}

.footer-l {

	width: 450px;
	float: left;
	
	height: 35px;
	display: inline;

}

.footer-r {
	width: 450px;
	float: right;
	
	height: 35px;
	

}

/* Todo: Google logo zentrieren; Dann Search Box erstellen*/



